.routeContainer {
    position: relative;
    top: 8em;
}

.Carousel {
    width: 100%;
    height: auto;
}


.card-title {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    margin-bottom: 2em;
    border: 0px;
}
.card-body {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.buttonBackground {
    background-color: #234565;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 5em;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
.editData {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.buttonSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    justify-content: space-around;
}

.profilSectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal-dialog {
    margin-top: 10vh;
    
}

.link{
    position: relative;
    justify-content: left;
    margin-left:0.5rem;
}

.banner {
    justify-content: center;
    background-color:rgb(0, 83, 5);
    
    top:20%;
    left: 0;
    position: fixed;
    Width:100%;
    height:auto;
    padding: 1rem;
}

.banner > p {
    display: block;
    font-weight: bold;
    
}

.profilHeading {
    color: #234565;
}
.profile {
    margin-bottom: 2em;
    margin-top: 2em;
}
.profilCaption {
    position: relative;
    right: -2em;
}

.settings {
    position: absolute;
    right: 2em;
    top: 8em;
    z-index: 100;
}

@media  (max-width: 576px) {
    .header {
        text-align: left !important;
        padding-left: 1em;
    }
}
.dropdown-btn {
    border-radius: 50px;
}
.settingsbtn {
    border-radius: 100px;
    width: 60px;
    height: 60px;
}
.delete {
    color: red;
}
#dropdown-basic::after{
    display: none; 
 }

 .icon {
     height: 30px;
     width: 30px;
}

.profiledescription {
    margin-bottom: 2em;
}


/** Post.jsx **/

.userSection {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.username {
    position: relative;
    top: -3em;
    left: 4em;
    color: black;
    font-weight: bold;
}

.pictureSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentSection {
width:60%;

}

.postHeader {
    text-align: left;
}

.imageCarousel {
    height:200px;
    width:200px;
}
.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}