@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

h1 {
  color: #234565;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;

}

p {
  text-align: justify;
}
.button {
  color: white;
      background: #007466;
      border-color: #007466;
      height: 2.3em;
}
.button:focus {
  color: white;
  background: #007466;
  border-color: #007466;
}
.button:hover {
  color: white;
  background: #007466;
  border-color: #007466;
}
  
.btn {
  border-radius: 50px;
}