
 nav.filterBar {
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left:0;
    transition: 450ms;
    z-index: 10000000;
    background:#0c576e 80%; 
  }

  button.button.logout-btn.login-btn{
      position:static;
      background-color:rgb(143, 0, 0)
  }


input[type="range"].slider{
    -webkit-appearance: none;/*Ein muss um den Slider zu verwenden*/
    justify-content:center;
   
    background: linear-gradient(90deg, #1d8125, #2fc548 );/*Das in react implementieren*/
    outline:none;
    border-radius:12px;
    height: 0.7em;
    width:15em;
  
}


/*Das geht aus irgendeinem grund nicht*/
input[type="range"].slider::-webkit-slider-thumb{
    opacity:1;
    background:#018512;

}

input[type="range"].slider::-moz-range-thumb{
    opacity:1;
    background:#018512;
    
}

Col.dropdownButton{
    
}

.filterContainer{
display:flex;
flex-direction: column;
justify-content:flex-start;
align-items:center;
margin-top: 3em;

}

.setCenter{
    justify-content:center;
    max-width: 100%;
    width:20em;
}
