

.navbar {
    
    margin-bottom: 0.5em;
    background: linear-gradient(to right,#1d6a7f,#82b432 0,#1e9650 17%,#0a5a64 45%,#32828c 78%,#28b4dc 100%);
    
}

.navbarTop {
    position: fixed;
    
}

/* Need to add transition overlay for sidebar for bigger viewports */

.menu-bars {
  
    position: fixed;
      right: 10px;
      top: 4px;
      z-index: 105;
  }

  .dropdown-btn {
      color: white;
      background: #007466;
      border-color: #007466;
      
  }

  .login-btn {
    background-color:#1d6a7f ;
    border-color:#1d6a7f;
    display: block;
    margin-left: 0.5rem;
    margin-right: 0,5rem;
    
    
    
  }

  .login-btn:hover{
      background-color: #007466 ;
  }
  

