

.navbar {
    background-color: #185363;
    margin-bottom: 0.5em;
    
}

.navbarTop {
    position: fixed;
    
}

/* Need to add transition overlay for sidebar for bigger viewports */

.menu-bars {
  
    position: fixed;
      right: 10px;
      top: 4px;
      z-index: 105;
  }

  .dropdown-btn {
      color: white;
      background: #007466;
      border-color: #007466;
  }

